
body
{
    background-color: black;
    color:rgb(236, 95, 95);
    font-family: "Montserrat", sans-serif;
}
h1
{
    font-family: "Roboto Mono", serif;
    font-weight: 600;
}

.cubo {
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: grey;
    border-radius: 4px;
}

.rojo
{
    background-color:rgb(255, 31, 31);
}

.verde
{
    background-color:greenyellow;
}

.azul
{
    background-color:rgb(43, 46, 226);
}